body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEDEB;
}

/* Navigation bar */
.topnav {
    overflow:auto;
    background-color: #3C3633;
    width: 100%;
}

.topnav a {
    float: left;
    color: white;
    text-align:c enter;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #747264;
}

.topnav a.active {
    background-color: #E0CCBE;
    color: black;
}

.topnav-right {
    float:right;
}

/* Title Section */
.title-section {
    color: #747264;
    display: flex;
    justify-content: center;
}

/* Add New Picture Section */
.add-new-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.dropdown {
    visibility: visible;
}

/* Display of Drawings Section */
.display-container {
    display: flex;
    flex-direction: horizontal;
}